.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .content {
  width: 60%;
  height: 86%;
  margin-top: 80px;
}
.container .content .post {
  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;
}
.container .content .post .head {
  width: 100%;
  height: 30px;
  background-color: rgb(74, 183, 255);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .content .post .head .posted_at {
  color: white;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 15px;
}
.container .content .post .head .icon {
  font-size: 25px;
  margin-right: 10px;
  margin-top: 5px;
  color: white;
}
.container .content .post .head .icon:hover {
  opacity: 0.8;
}
.container .content .post .head .icon a {
  color: white;
}
.container .content .post .body {
  width: 100%;
  min-height: 100px;
  border: 3px solid rgb(74, 183, 255);
  border-radius: 0 0 3px 3px;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
}
.container .content .post .body .upper {
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .content .post .body .upper .user {
  display: flex;
  align-items: center;
}
.container .content .post .body .upper .user img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}
.container .content .post .body .upper .user .user_name {
  font-weight: bold;
  font-size: 20px;
}
.container .content .post .body .lower {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}
.container .content .post .body .lower .text {
  width: 98%;
  margin: 0 auto;
}
.container .post_write {
  background-color: rgb(0, 162, 255);
  border: 1px solid rgb(0, 162, 255);
  border-radius: 50%;
  padding: 17px;
  position: fixed;
  bottom: 50px;
  right: 5%;
  cursor: pointer;
}
.container .post_write:hover {
  opacity: 0.8;
}
.container .post_write ion-icon {
  font-size: 60px;
  color: white;
}

.modal_background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  display: none;
}

.post_form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: 101;
  display: none;
}
.post_form .container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
.post_form .container .head {
  width: 100%;
  height: 5%;
  background-color: rgb(0, 162, 255);
  border-radius: 5px 5px 0 0;
  text-align: right;
}
.post_form .container .head .back_btn {
  all: unset;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.post_form .container .head .back_btn:hover {
  opacity: 0.8;
}
.post_form .container .head .back_btn ion-icon {
  font-weight: bold;
  margin-top: 1px;
  margin-right: 5px;
}
.post_form .container form {
  width: 100%;
  height: 95%;
}
.post_form .container form .post {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(0, 162, 255);
  box-sizing: border-box;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post_form .container form .post .post_label {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}
.post_form .container form .post .post_textarea {
  width: 90%;
  height: 40%;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 20px;
}
.post_form .container form .post .post_textarea:focus {
  outline: 1px solid rgb(146, 210, 255);
  box-shadow: 0 0 10px rgb(146, 210, 255);
}
.post_form .container form .post .submit_btn {
  all: unset;
  margin-top: 20px;
  background-color: rgb(0, 162, 255);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
}
.post_form .container form .post .submit_btn:hover {
  opacity: 0.8;
}/*# sourceMappingURL=time_line.css.map */